@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

// Set your brand colors
$yellow: #FBE092;
$purple: #6458F5;
$lightpurple: #B2ACFA;
$black: #333;

$background: $yellow;

//Sizing
$base-size: 1rem;

// Font Variables
$heading: 'Roboto Slab', serif;   
$paragraph: 'Quicksand', sans-serif;