@use "sass:math";
@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.about-page-container {
  text-align: center;
  margin: 30px auto;
  position: relative;
  max-width: 100%;
  font-family: vars.$paragraph;
}

.flex-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mixins.media-queries(tablet, min) {
    flex-direction: row;
  }
}

.flex-column {
  flex-direction: column;
  
  &-reverse {
    flex-direction: column-reverse;
  }
}

.flex-row {
  margin: 30px;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  a:link, a:visited {
    margin: 20px;
    background-color: vars.$purple;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    &:hover {
        background-color: vars.$black;
      }
  }
}

.img-holder {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  margin: 20px auto;
  border: 2px solid vars.$purple;
}

.img-holdersmall {
  width: 220px;
  border-radius: 50%;
  height: 220px;
  margin: 20px auto;
  border: 2px solid vars.$purple;
}
  


  