@use "sass:math";
@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.about-page-container {
    text-align: center;
    margin: 30px auto;
    position: relative;
    max-width: 100%;
    padding: 0 vars.$base-size * 3;
    font-family: vars.$paragraph;
  }
  
  .flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    @include mixins.media-queries(mobile, min) {
      flex-direction: row;
    }
    // font-family: vars.$heading;
}

.flex-column {
    flex-direction: column;
    
    &-reverse {
        flex-direction: column-reverse;
    }
}

.flex-row {
    margin: 30px auto;
    text-align: center;
    width: 300px;

    flex-direction: row;
  
    &-reverse {
      flex-direction: row-reverse;
    }
    a:link, a:visited {
        margin: 20px;
        background-color: vars.$purple;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        &:hover {
            background-color: vars.$black;
          }
    }
  }

  .img-holder {
    width: 300px;
    border-radius: 50%;
    height: 300px;
    margin: 20px auto;
    border: 2px solid vars.$purple;
  }

  .img-holdersmall {
    width: 220px;
    border-radius: 50%;
    height: 220px;
    margin: 20px auto;
    border: 2px solid vars.$purple;
  }

  .horizontal-line {
    height: math.div(vars.$base-size, 6);
    width: vars.$base-size * 4;
    background-color: vars.$lightpurple;
    align-self: center;
    margin-top: vars.$base-size;
    margin-bottom: vars.$base-size * 2;
  }

  .heading-container {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    max-width: 100%;
    flex-direction: column;
    margin-top: vars.$base-size * 2;
    margin-bottom: vars.$base-size * 2;
  }
  
  // .flex-container {
  //   margin: auto;
  //   display: flex;
  //   flex-direction: column;
  //   @include mixins.media-queries(mobile, min) {
  //     flex-direction: row;
  //   }
  //   // font-family: vars.$heading;
// }


  