@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';

.card-container {
    display: flex;
    // height: vars.$base-size * 20;
    justify-content: center;
	width: auto;
	flex-direction: column;
	text-align: left;
	padding: vars.$base-size * 1;
	border: none;
    border-radius: 6px;
	// margin: vars.$base-size * 4;
	// margin-right: 0;
    box-shadow: 0 0 20px rgb(212, 212, 212);
    background-color: white;
   
	@include mixins.media-queries(tablet, min) {
       // width: functions.colWidth(5);
         width: auto;
	}
}
 
 .card-text-container {
    margin-top: vars.$base-size * 1; 
    margin-bottom: vars.$base-size * 1;  
    // padding-bottom: vars.$base-size * 6;
    // margin-left: vars.$base-size * 2;
    // margin-right: vars.$base-size * 2;
}

.card-title {
    font-size: 2.5rem;
    color: white;
    padding-bottom: vars.$base-size;
    font-family: vars.$heading;
}

.card-sub-title {
    color: white;
    font-family: vars.$heading;
}

.card-text {
    color: white;
    font-family: vars.$paragraph;
}

.button-inline-container {
    display: flex;
    display: inline-block;
    padding: vars.$base-size;
}

.card-img {
    // width: vars.$base-size * 40;
    width: auto;
    border-radius: 5px;
    height: vars.$base-size * 20;
    // margin: auto;
    object-fit: cover;
}

.card-container-horizontal {
    display: flex;
    // height: vars.$base-size * 20;
    justify-content: center;
	width: vars.$base-size * 20;
	flex-direction: column;
	text-align: left;
	padding: vars.$base-size * 1;
	border: none;
    border-radius: 6px;
	margin: vars.$base-size * 4;
	// margin-right: 0;
    box-shadow: 0 0 20px rgb(212, 212, 212);
  
	@include mixins.media-queries(mobile, min) {
		width: functions.colWidth(5);
	}
}