@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';

.item-details-container {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
	flex-direction: column;
	text-align: left;
	padding: vars.$base-size * 1;
	border: none;
    border-radius: 6px;
    box-shadow: 0 0 20px rgb(212, 212, 212);
    background-color: white;
   
	@include mixins.media-queries(mobile, min) {
         width: 600px;
	}
}
 
 .card-text-container {
    margin-top: vars.$base-size * 1; 
    margin-bottom: vars.$base-size * 1;  
}

.card-title {
    font-size: 2.5rem;
    color: white;
    padding-bottom: vars.$base-size;
    font-family: vars.$heading;
}

.card-sub-title {
    color: white;
    font-family: vars.$heading;
}

.card-text {
    color: white;
    font-family: vars.$paragraph;
}

.button-inline-container {
    display: flex;
    display: inline-block;
    padding: vars.$base-size;
}

.card-img {
    width: auto;
    border-radius: 5px;
    height: vars.$base-size * 20;
    object-fit: cover;
}

.card-container-horizontal {
    display: flex;
    justify-content: center;
	width: vars.$base-size * 20;
	flex-direction: column;
	text-align: left;
	padding: vars.$base-size * 1;
	border: none;
    border-radius: 6px;
	margin: vars.$base-size * 4;
    box-shadow: 0 0 20px rgb(212, 212, 212);
  
	@include mixins.media-queries(mobile, min) {
		width: functions.colWidth(5);
	}
}