@use "sass:math";
@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
}

.item {
  order: 0;
  font-size: vars.$base-size;
  max-width: 100%;
  margin: vars.$base-size + 3 0;

  @include mixins.media-queries(tablet, min) {
    font-size: vars.$base-size + 1;
  }
}

.home-container {
  width: functions.colWidth(12);
  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(6);
    padding: vars.$base-size;
  }
}

.column-9 {
  width: functions.colWidth(12);
  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(9);
  }
}

.scroll {
  overflow-y: scroll;
  max-height: 500px;
}
