@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.form-title {
    color: vars.$black;
    font-family: vars.$heading;
    font-size: x-large;
    font-weight: bold;
  }

  .label {
    color: vars.$black;
    font-family: vars.$paragraph;
    font-weight: bold;
  }

  .labelgrey {
    color: vars.$grey;
    font-family: vars.$paragraph;
    font-weight: bold;
  }
  
  
  .form-button-primary {
    background-color: vars.$black;
    padding: vars.$base-size;
    border-radius: vars.$base-size * 0.15;
    border: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: vars.$base-size * 0.5;
  
    @include mixins.media-queries(tablet, min) {
      width: 50%;
    }
  
    &:hover{
      background-color: whitesmoke;
      border: none;
      color: vars.$black;
    }
  }

  .form-box {
    height: vars.$base-size * 1.75; // or 100%?
    width: vars.$base-size * 20;
    font-family: vars.$paragraph;
    margin-bottom: 1rem;
  }

  .check-box {
    // height: vars.$base-size;
    // width: vars.$base-size;
    font-family: vars.$paragraph;
    // margin-bottom: 1rem;
  }
  