@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';

.header-container {
    height: 100px;
    // background-color: vars.$yellow;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.logo-image {
    width: 15rem;
    height: auto;
    object-fit: cover;
    padding-left: 10px;
    z-index: 1;

    @include mixins.media-queries(mobile, min) {
        padding-left: 20px;
        width: 20rem;
        z-index: 1;
    }
}
