@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';

// .items-wrapper {
//   margin: auto;
// }

.item-container {
  margin-top: 40px;
  padding: 1rem 2rem 1rem 2rem;
  width: vars.$base-size * 60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgb(212, 212, 212);
  border-radius: 5px;

  @include mixins.media-queries(mobile, max) {
    flex-direction: column;
    padding: 10px;
  }
}

.item-details {
  line-height: 2;
}

.item-img > img {
  width: 260px;
  height: 170px;
  box-shadow: 0 0 20px rgb(212, 212, 212);
  border-radius: 5px;
  @include mixins.media-queries(mobile, max) {
    flex-direction: column;
    padding: 10px;
  }

}