@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';

.items-wrapper {
  width: 900px;
  margin: 40px 0;
}

.item-container {
  margin-top: 40px;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgb(212, 212, 212);
  border-radius: 5px;
  background-color: white;

  @include mixins.media-queries(mobile, max) {
    flex-direction: column;
    padding: 10px;
    background-color: white;

  }
}

.item-details {
  line-height: 2;
}

.item-img > img {
  width: 260px;
  height: 170px;
  box-shadow: 0 0 20px rgb(212, 212, 212);
  border-radius: 5px;
  
  @include mixins.media-queries(mobile, max) {
    flex-direction: column;
    padding: 0px;
  }

}

.item-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  max-width: 100%;
  flex-direction: row;
  margin-top: vars.$base-size * 2;
  margin-bottom: vars.$base-size * 2;
}

.item-heading {
  display: flex;
  justify-content: flex-start;
  font-size: vars.$base-size * 2.5;
  color:  vars.$purple;
  font-family: vars.$heading;
}

.item-button-container {
  // display: inline-block;
  justify-content: flex-end;
  padding: vars.$base-size;
}

.add-item-btn {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
.add-item-btn {
  font-family: vars.$paragraph;
  font-size: 16px;
  cursor: pointer;
  // margin: 4px 2px;
  margin: 10px;
  //  padding: 15px 45px; 
   padding: 1rem 5rem 1rem 5rem;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px rgb(202, 202, 202);
   border: none;
   border-radius: 30px;
   display: block;
   transition: 0.2s all;
   text-decoration: none;
   display: inline-block;
 }

 .add-item-btnd:hover {
   background-position: right center; /* change the direction of the change here */
  //  opacity: 0.7;
   text-decoration: none;
   border: none;
   font-family: vars.$paragraph;
 }
 .add-item-btn:active {
  transform: scale(0.9);
  border: none;
  font-family: vars.$paragraph;
}
