@use "sass:math";
@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.horizontal-line {
    height: math.div(vars.$base-size, 6);
    width: vars.$base-size * 4;
    background-color: vars.$lightpurple;
    align-self: center;
    margin-top: vars.$base-size;
    margin-bottom: vars.$base-size * 2;
  }

.horizontal-line-single-item {
    height: math.div(vars.$base-size, 4);
    width: vars.$base-size * 3;
    background-color: vars.$lightpurple;
    align-self: center;
    margin-bottom: vars.$base-size;
  }
 

  .heading-container {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    max-width: 100%;
    flex-direction: column;
    margin-top: vars.$base-size * 2;
    margin-bottom: vars.$base-size * 2;
  }