@use "sass:math";
@use './typography';
// @use '../1-helpers/vars';

* {
    box-sizing: border-box;
    margin: 0;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}