@use "sass:math";
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.page-title {
    font-size: vars.$base-size * 3.5;
    color:  vars.$purple;
    font-family: vars.$heading;
}

.page-sub-title {
    font-size: vars.$base-size * 1.5;
    color:  vars.$lightpurple;
    font-family: vars.$heading;
}

.page-paragraph {
    font-size: vars.$base-size;
    color:  vars.$grey;
    font-family: vars.$paragraph; 
}

// inside cards
.item-title {
    font-size: vars.$base-size * 2;
    color:  vars.$purple;
    font-family: vars.$heading;
    padding: 1rem 0rem 1rem 0rem;
}